<! — views/partials/join.ejs →
<%- include('head'); %>
  <section class="newsletter">
    <img class="img-fluid d-block mx-auto" src="/logo1.ico">
    <h1 class="join-heading">Join the <span class="sm-join">SHOP ME</span> Newsletter</h1>
    <form class="join" method="POST" action="/subscribe">
        <input class="join-box" type="email" name="email" placeholder="Email Address">
        <div class="row">
        <button class="subs">SUBSCRIBE</button>
        </div>
    </div>
    </form>
  </section>