<html>
  <%- include('partials/head'); %>
  <head>
      <style>
          .cons{
              padding-top: 150px;
              text-align: center;
              font-weight: 600;
          }
          .site-msg{
              text-align: center;
              font-size: 20px;
              font-weight: 400;
          }
          .site-img{
              padding-top: 50px;
              padding-bottom: 15px;
          }
      </style>
</head>
<body id="body" style="overflow-x: hidden;">

    <!-- Header -->
    <%- include('partials/header'); %>
    <h1 class="cons">UNDER CONSTRUCTION</h1>
    <div class="error-block container">
    <img class="site-img img-fluid d-block mx-auto" src="https://www.clipartmax.com/png/full/113-1133624_site-under-construction-under-construction.png" width="25%">
    <h5 class="site-msg">Our Website is under construction, but we are ready to go. </h5>
    <h5 class="site-msg">Sorry for the inconvenience. Will Keep you posted</h5>
    </div>
    <%- include('partials/join'); %>
    <%- include('partials/footer'); %>

</body>
</html>
