<html>
  <%- include('partials/head'); %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="author" href="https://plus.google.com/u/0/109859280204979591787/about"/>

    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/modernizr-2.7.1.min.js"></script>
    <style type="text/css">
        .back-link a {
            color: #4ca340;
            text-decoration: none; 
            border-bottom: 1px #4ca340 solid;
        }
        .back-link a:hover,
        .back-link a:focus {
            color: #408536; 
            text-decoration: none;
            border-bottom: 1px #408536 solid;
        }
        h1 {
            height: 100%;
            margin: 0;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            color: #1c1d1e;
            font-size: 32px;
            margin-bottom: 3px;
        }
        h2 {
            color: #1c1d1e;
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
        }
        .entry-header .inner {
            text-align: left;
            margin: 0 auto 20px auto;
            width: 800px;
        }
        .entry-header { padding-top: 20px; background-color: #fff; width:100%; position: fixed; top: 0; left: 0; z-index: 999999}
        .socialLinks {
            text-align: center;
            margin-top: 20px;
        }
        .fb-like,
        .twitter-follow-button,
        .twitter-share-button {margin-right: 10px;}
        a.pd_btn:hover{
    background-color: antiquewhite;
    }

    </style>
</head>
<body class="loading">
    <%- include('partials/header'); %>

        
       <div id="preloader">
           <img src='https://eu.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton--W_Fa_Escale_DI1.jpg?wid={IMG_WIDTH}&hei={IMG_HEIGHT}' />
           <img src='https://imgix.bustle.com/wmag/2020/07/gucci_fw20_main.jpg?w=1200&fit=crop&crop=faces&auto=format%2Ccompress'/>
           <img src='https://4.bp.blogspot.com/-sV68mDEoTtA/WAodPY6p8cI/AAAAAAAACQ4/DI6oAhijtKEwUZBu87za-AQYNXBGbDF5gCPcB/s1600/mathieu-bitton-_lenny_kravitz.jpg' />
       </div>
       <main data-top="background-color: rgba(244,244,244,1)" data-center-bottom="background-color: rgba(244,244,244,1)" data--200p-top="background-color: rgba(0,0,0,1)" data-anchor-target="#slide-1">
        
        <section id="slide-1" class="homeSlide">
            <div class="bcg" data-top="opacity: 1; width: 100%; height: 100%; top: 0%; left: 0%;" data-center="opacity: 0; width: 156%; height: 156%; top: -28%; left: -28%;" data-anchor-target="#slide-1">
            </div>
            <div class="plaxEl" data-0p-top="opacity: 0" data-center="opacity: 1;" data-100p-top="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;" data--25p-bottom="opacity: 0;" data--20p-bottom="opacity: 1;" data-anchor-target="#slide-1">
                <h2>The Best or Nothing</h2>
                <p>Sway your way through life with SHOPME collection of fabulous dresses</p>
            </div>
        </section>
        
        <section id="slide-2" class="homeSlide" data-bottom="opacity: 0;" data--10p-bottom="opacity: 1;" data-anchor-target="#slide-1">
            <div class="bcg" data-top="opacity: 1; width: 100%; height: 100%; top: 0%; left: 0%;" data-40p-bottom="opacity: 0; width: 196%; height: 196%; top: -48%; left: -48%;" data-anchor-target="#slide-2">
            </div>
            <div class="plaxEl" data-top="opacity: 0; position: fixed; top: 206px; width: 100%; left: 0;" data-center="opacity: 1;" data-10p-bottom="opacity: 1;" data-bottom="opacity: 0;" data-anchor-target="#slide-2">
                <h2>Browse through and get bewitched</h2>
                <p> Be it for your everyday wear, your clubbing nights or for your corporate chic looks,SHOPME has just the right selection of dresses .</p>
            </div>
        </section>
        
        <section id="slide-3" class="homeSlide" data-bottom-top="opacity: 0;" data-center="opacity: 1;" data-top="opacity: 1;" data-anchor-target="#slide-3">
            <div class="bcg" data-top="opacity: 1; width: 120%; height: 120%; top: -10%; left: -10%;" data-center="opacity: 1; width: 110%; height: 110%; top: -5%; left: -5%;" data-bottom="opacity: 0; width: 100%; height: 100%; top: 0%; left: 0%;" data-anchor-target="#slide-3">
            </div>
            <div class="plaxEl" data-top="opacity: 0; position: fixed; top: 206px; width: 100%; left: 0;" data-center="opacity: 0;" data-bottom="opacity: 1;" data-anchor-target="#slide-3">

                <h2>The new business-casual</h2>
                <p style="padding-bottom:100px">being comfy while looking totally sharp is our forever mood</p>
                <a class="pd_btn" href="/products" style="background-color:white; color:black; padding: 15px 15px 15px 15px; border-radius:5px; margin-left:100px">Explore Products</a>
            </div>
          
        </section>
        
    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/js/imagesloaded.js"></script>
    <script src="/js/skrollr.js"></script>
    <script src="/js/_main.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    


        <section class="explore-trends">
            <div class="row">
                <div class="col-md-3">
            </div>

        </section>


    
    <%- include('partials/footer'); %>

</body>
</html>